body {
  background-color: aquamarine;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  color: blue;
  height: 50px;
  width: 150px;
  border-radius: 10px 10px 10px 10px;
  border: whitesmoke;
}

button:hover {
  background-color: darkblue;
  width: 200px;
  border: greenyellow;
}

/* #increment-btn {
  background-color: green;
} */

#save-btn {
  color: green;
  width: 150px;
  border: green;
}

#save-btn:hover {
  width: 200px;
  border: yellow;
}
